[submodule "freja-jaylib"]
	path = freja-jaylib
	url = https://github.com/saikyun/freja-jaylib
[submodule "cross"]
	path = cross
	url = https://github.com/saikyun/cross
[submodule "janet"]
	path = janet
	url = https://github.com/janet-lang/janet
[submodule "janet-usages-as-tests"]
	path = janet-usages-as-tests
	url = https://github.com/sogaiu/janet-usages-as-tests
